body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #555;  
  margin: 0;
  padding: 0;
  height: 100vh;
  /* width: 100vw; */

}
*{
  box-sizing: border-box;
}

*::before, *::after{
  box-sizing: inherit;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  
}

iframe{
  width: 100%;
  height: 100%;
  border: 0;
  background: #fff;
}
textarea{
  background-color: #333;
  background-repeat: no-repeat;
  background-size: 36px;
  background-position: calc(100% - 16px) calc(100% - 16px);
  box-shadow: 0 0 0 .1px rgba(255, 255, 255, .3);
  width: 100%;
  padding: 24px;
  color: #fff;
  font-family: monospace;
  font-size: 18px;
  height: 100%;
  resize: none;
}
textarea:focus{
  outline: 0;
}

.editor{
  position: relative;
}
.editor::after{
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  right: 16px;
  bottom: 16px;
  z-index: 1;
  width: 48px;
  height: 48px;
}

#html::after {
  background-image: url('/asset/html5.svg');  
}

#css::after{
  background-image: url('/asset/css3.svg');  
}

#js::after{
  background-image: url('/asset/js.svg');
}

.grid {
  display: grid;
  grid-template-rows: 49.8% 0.4% 49.8%;
  grid-template-columns: 49.8% 0.4% 49.8%;
  height: 100vh;
  overflow: hidden;
}

.vertical--gutter{
  cursor: col-resize;
  grid-area: 1/2/4/2;
  border: solid 1px #fff;
}
.horizontal--gutter{
  cursor: row-resize;
  grid-area: 2/1/2/4;
  border: solid 1px #fff;
}